<a href="https://colab.research.google.com/github/kaitouz/OpenEdu/blob/main/Machine%20Learning%20%26%20Data%20Analysis/task09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv("data.csv",index_col="Object")
df

         X   Y  Cluster
Object
1        1  18        0
2       16  20        1
3       13  18        2
4        6   2        1
5        5   4        0
6        8   9        0
7        1  13        0
8        2  12        2
9        5  12        0
10      18   2        1
11      11   9        1
12       9  13        1
13      10   2        1
14       4   5        1
15      13  13        0

In [32]:
df_task = df.drop('Cluster', axis=1)

In [33]:
from sklearn.cluster import KMeans

In [34]:
kmeans = KMeans(n_clusters=3, init=np.array([[5.5, 11.5], [10.57, 7.57], [7.5, 15.0]]), max_iter=100, n_init=1)

In [35]:
model = kmeans.fit(df_task)

In [45]:
df_ans = df_task.copy()
df_ans['Clusters'] = model.labels_.tolist()
df_ans

         X   Y  Clusters
Object
1        1  18         0
2       16  20         2
3       13  18         2
4        6   2         1
5        5   4         1
6        8   9         1
7        1  13         0
8        2  12         0
9        5  12         0
10      18   2         1
11      11   9         1
12       9  13         2
13      10   2         1
14       4   5         1
15      13  13         2

In [46]:
df_task

         X   Y
Object
1        1  18
2       16  20
3       13  18
4        6   2
5        5   4
6        8   9
7        1  13
8        2  12
9        5  12
10      18   2
11      11   9
12       9  13
13      10   2
14       4   5
15      13  13

In [47]:
alldistances = kmeans.fit_transform(df_task)
alldistances

array([[ 4.43001129, 15.43518377, 11.91899744],
       [15.10380747, 16.87226924,  5.15388203],
       [11.55962802, 13.91666157,  2.01556444],
       [12.33389638,  3.94088978, 15.54228104],
       [10.13039979,  3.92272292, 14.28504463],
       [ 7.45821695,  4.37058815,  8.45946216],
       [ 1.45773797, 11.41874578, 12.12693284],
       [ 1.76776695, 10.00510074, 11.47006975],
       [ 3.2596012 ,  8.24373603,  8.72138177],
       [19.65006361,  9.53725242, 14.95200655],
       [ 9.95615388,  4.79157424,  7.21543484],
       [ 6.79153885,  8.28694572,  4.80234318],
       [14.07568826,  2.94507545, 14.26753307],
       [ 8.92328415,  4.86553896, 14.0556928 ],
       [10.77613103,  9.26371019,  3.01039864]])

In [48]:
search = 0
Clusters_array = []
for i in range(len(df_ans['Clusters'])):
  if (df_ans['Clusters'][i+1] == search):
    Clusters_array.append(alldistances[i][search])
sum(Clusters_array)/len(Clusters_array)

2.7287793539865888