<a href="https://colab.research.google.com/github/kaitouz/OpenEdu/blob/main/Machine%20Learning%20%26%20Data%20Analysis/rubez/train_rubez2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install install scikit-learn==0.23.0

Requirement already satisfied: install in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: scikit-learn==0.23.0 in /usr/local/lib/python3.7/dist-packages (0.23.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.0) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.0) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.0) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.0) (3.1.0)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
from keras.datasets import mnist
import pandas as pd
from pandas import *

In [3]:
(X_train_org, y_train_org), (X_pred_org, y_pred_org) = mnist.load_data()             # load data

In [4]:
X_train_org.shape

(60000, 28, 28)

In [5]:
X_train_org = X_train_org.reshape(60000, 784)                            # reshape from 60000*28*28 -> 60000*784

In [6]:
X_train_org.shape

(60000, 784)

In [7]:
from sklearn.decomposition import PCA
pca = PCA(svd_solver='full').fit(X_train_org)

**ANS #1**

In [9]:
explained_variance = np.round(np.cumsum(pca.explained_variance_ratio_),3)
i = 0
for value in explained_variance:
  i += 1
  if(value > 0.83):
    print(i)
    break

52

In [10]:
pca = PCA(n_components=52, svd_solver='full').fit(X_train_org)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train_org, y_train_org, test_size=0.3, random_state=126)

In [12]:
X_train = pca.transform(X_train)
X_test = pca.transform(X_test)

**ANS #2**

In [13]:
np.mean(X_train[:, 0])

0.5965431171660649

In [14]:
from sklearn.multiclass import OneVsRestClassifier  
from sklearn.ensemble import RandomForestClassifier
#https://scikit-learn.org/stable/modules/generated/sklearn.multiclass.OneVsRestClassifier.html?highlight=onevsrestclassifier#sklearn.multiclass.OneVsRestClassifier
#https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html?highlight=randomforestclassifier#sklearn.ensemble.RandomForestClassifier

In [15]:
clf = RandomForestClassifier(criterion='gini', min_samples_leaf=10, max_depth=20, n_estimators=10, random_state=126)
clf_OVR = OneVsRestClassifier(clf).fit(X_train, y_train)

In [16]:
y_pred = clf_OVR.predict(X_test)

**ANS #3**

In [17]:
sum((y_pred == y_test) & (y_test == 5))

1414

In [18]:
df = pd.read_csv('pred_for_task.csv', index_col='FileName')

In [19]:
df.head()

,Label,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f774,f775,f776,f777,f778,f779,f780,f781,f782,f783
FileName,,,,,,,,,,,,,,,,,,,,,
file1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file5,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
X_test = df.drop('Label', axis = 1)

In [21]:
X_test = pca.transform(X_test)

In [22]:
X_test

array([[-332.27116927,  747.7987162 ,  -42.84481899, ..., -115.06092808,
           3.20560841, -161.08688091],
       [  20.69696209, -955.58458273, -152.71551708, ...,  296.88587335,
          55.87276371, -245.11643036],
       [-946.02686793, -430.84318261,   66.17633643, ...,  -48.36563282,
         -78.20371641,   29.06939114],
       ...,
       [ 224.98822327,  881.03842296, -180.92093117, ...,   -2.79700963,
         -17.29677863,   20.03984024],
       [1128.03797971, -354.99535818, -183.85326766, ...,  -82.80337371,
         -59.67638026,   33.11698864],
       [-765.24057399, -154.13449942, -107.92304472, ...,   -9.96158248,
         -24.62441437,   82.15904585]])

In [23]:
y_pred = clf_OVR.predict_proba(X_test)

**ANS #4**

In [24]:
y_pred[19][4]

0.9632103360054342